In [2]:
import pandas as pd 
import numpy as np

In [21]:
np.random.seed(1)
ar = np.random.randint(0,101, (4,2)).reshape(2,4)
ar.mean()
# np.mean(ar)

44.125

In [23]:
df = pd.DataFrame({
    'Department': ['HR', 'Tech', 'HR', 'Tech','nik'],
    'Salary': [50000, 80000, 55000, 75000,400000]
})

# Group by department and compute mean salary
print(df.groupby('Department').mean())

              Salary
Department
HR           52500.0
Tech         77500.0
nik         400000.0

In [25]:
df = pd.DataFrame({
    'Date': ['2023-01-01', '2023-01-01', '2023-01-02'],
    'City': ['NY', 'LA', 'NY'],
    'Temperature': [32, 75, 30]
})

pivot = df.pivot_table(index='Date', columns='City', values='Temperature')
pivot

City          LA    NY
Date
2023-01-01  75.0  32.0
2023-01-02   NaN  30.0